@model emigrant.Models.Necesidades

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Necesidades</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombreNecesidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombreNecesidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descipcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descipcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.prioridad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.prioridad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Emigrante)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Emigrante)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdNecesidad }) |
    @Html.ActionLink("Back to List", "Index")
</p>
