@model IEnumerable<emigrant.Models.Necesidades>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombreNecesidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.descipcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.prioridad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Emigrante)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombreNecesidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.descipcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.prioridad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Emigrante)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdNecesidad }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdNecesidad }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdNecesidad })
        </td>
    </tr>
}

</table>
