@model emigrant.Models.Emigrante

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Emigrante</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.apellidos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apellidos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tipoIdentificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipoIdentificacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.numeroIdentificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numeroIdentificacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pais)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pais)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaNacimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaNacimiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.correoElectronico)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.correoElectronico)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.numeroTelefonico)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numeroTelefonico)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.direccionActual)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.direccionActual)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ciudad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ciudad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.situacionLaboral)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.situacionLaboral)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
